body {
  background: #fff;
  color: green;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid transparent;
  object-fit: cover;
}

img:hover {
  border-color: red;
  transition: all 2s;
  transform: translateX(200px)
}